In [4]:
import xml.etree.ElementTree as ET
import pandas as pd

In [5]:
file=ET.parse('C:/Users/Felix/Desktop/Máster  BD Deporte/Módulo 7 - Proveedores de Datos Deportivos/f28/f28-23-2019-1074825-eventdetails.xml')

In [27]:
interval_poss = {}

root = file.getroot()

away_team = root.attrib.get("away_team_name")
home_team = root.attrib.get("home_team_name")

for possession_wave in root.findall(".//PossessionWave[@Type='BallPossession']"):
    for interval_length in possession_wave.findall(".//IntervalLength[@Type='5']"):
        for interval in interval_length.findall("Interval"):
            # Create a new team_poss dictionary for each interval
            team_poss = {
                away_team: float(interval.find('Away').text),
                home_team: float(interval.find('Home').text)
            }
            interval_type = interval.attrib.get("Type")
            interval_poss[interval_type] = team_poss

In [31]:
possesion=pd.DataFrame.from_dict(data=interval_poss)
possesion

,0-5,6-10,11-15,16-20,21-25,26-30,31-35,36-40,41-45,46-50,51-55,56-60,61-65,66-70,71-75,76-80,81-85,86-90
Espanyol,74.5,51.5,83.1,48.1,34.6,76.6,64.3,33.9,84.8,69.6,79.7,31.7,75.0,53.4,80.0,59.6,80.0,61.4
Alavés,25.5,48.5,16.9,51.9,65.4,23.4,35.7,66.1,15.2,30.4,20.3,68.3,25.0,46.6,20.0,40.4,20.0,38.6